<div class="modal-header" style="font-size:15px; text-transform:uppercase; font-weight: bold;"> {{roleName}}</div>
 <div class="container">
<duallist template-url="uiModule/userManagement/configurationModule/config_editrole_permissionlist.html" duallist-option="options" leftscope="leftValue" rightscope="rightValue" addscope="addValue" removescope="removeValue"></duallist>
  <div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="close()">Cancel</button>
   <button class="btn btn-primary" type="button" ng-click="save()">Save</button>
  </div>
  </div>