<div class="col-xs-12" style="min-height: 840px; margin-top: 30px;">

	<section>
		<h4>
			<span>Mapping</span>
			<span style="display: inline-block; text-align: right; width: 60%; float: right" id="branchDisplay">WORKSPACE : {{selectedBranchName}}</span>
		</h4>
	</section>
	<section class="content">
		<div class="box box-info">
			<div class="box-header with-border">
				<ul class="regTabs" id="myTab">
					<li>
						<a href="#regsearch/{{selectedBranchId}}" data-toggle="tab">Search Regions</a>
					</li>
					<li class="actv">
						<a href="#regmapping/{{selectedBranchId}}" data-toggle="tab">Mapping</a>
					</li>
					<li>
						<a href="#regboilersearch/{{selectedBranchId}}" data-toggle="tab">Search Boiler Plate</a>
					</li>
				</ul>
				<!-- form start -->
				<form class="form-horizontal">
					<div class="box-body mrgnTB">
						<div class="container">
							<div class="borders">
								<div class="col-xs-12 maphead ">

									<span class="col-xs-4 maphead" align="center">Region Title</span>
									<span class="col-xs-4 maphead" align="center">Normalized Region Title</span>
									<span class="col-xs-4 maphead" align="center">Region Use</span>
								</div>
							</div>
							<div class="borders col-md-15">
								<div class="col-md-4">
									<input ng-model="filterValue" type="text" style="width: 100%">
									<select size="6" name="ngvalueselect" ng-model="regionTitle.model" multiple style='height: 320px; vertical-align: middle; width: 100%;'
										ng-click=loadMappingData()>
										<option ng-repeat="option in regionTitle.availableOptions | filter:filterCodes" ng-value="option.value">{{option.name}}</option>
									</select>
									<div class="row">
										<span class="col-xs-10" style="color: red ">{{mappingErrorMsg}}</span>
										<div class="col-xs-2">&nbsp;</div>
									</div>
									<div>
										<div class="pagination pagination-centered">
											<ul class="pagination-controle pagination">
												<li>
													<button type="button" class="btn btn-default" ng-disabled="!pageModel.enableButtons" ng-click="loadRegionTitleData(1)">&lt; &lt; </button>
												</li>
												<li>
													<button type="button" class="btn btn-default" ng-disabled="!pageModel.enableButtons" ng-click="loadRegionTitleData(pageModel.currentPage-1)">PREV</button>
												</li>
												<li>
													<span>Page {{pageModel.currentPage}}</span>
												</li>
												<li>
													<button type="button" class="btn btn-default" ng-disabled="!pageModel.enableButtons" ng-click="loadRegionTitleData(pageModel.currentPage+1)">NEXT</button>
												</li>
												<li>
													<button type="button" class="btn btn-default" ng-disabled="!pageModel.enableButtons" ng-click="loadRegionTitleData()">&gt; &gt;</button>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<select size="6" name="ngvalueselect" ng-model="normalizedRegionTitle.model" multiple
										style='height: 380px; vertical-align: middle; width: 100%;'>
										<option ng-repeat="option in normalizedRegionTitle.availableOptions" ng-value="option.value">{{option.name}}</option>
									</select>
								</div>
								<div class="col-md-4">
									<select size="6" name="ngvalueselect" ng-model="regionUse.model" multiple style='height: 380px; vertical-align: middle; width: 100%;'>
										<option ng-repeat="option in regionUses.availableOptions" ng-value="option.value">{{option.name}}</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
</div>
</div>
</div>
